@import "tailwindcss";

/* === Thème global (v4) === */
@theme {
  --color-primary-blue: #02dade;

  --color-primary-gray: #D0D0D0;

  --color-primary-blue-90: color-mix(
    in oklab,
    var(--color-primary-blue) 90%,
    black
  );
  --color-primary-blue-10: color-mix(
    in oklab,
    var(--color-primary-blue) 10%,
    white
  );

  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* base */
html,
body {
  @apply bg-primary-gray font-sans;
}

/* pour un bouton si on a besoin plus tard */
.btn-primary {
  @apply text-white inline-flex items-center justify-center p-2 w-15 h-8;
  @apply text-[0.7rem];
  background: var(--color-primary-blue);
}
.btn-primary:hover {
  background: var(--color-primary-blue-90);
}
.btn-primary:focus-visible {
  outline: 2px solid var(--color-primary-blue);
  outline-offset: 2px;
}

.sidenav {
  height: 100%;
  width: 7.2%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  padding-top: 20px;
}

.img_logo {
  max-width: 50%;
  height: auto;
  display: block;
  margin: auto;
}
.sidediv {
  position: relative;
  padding: 0px 8px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  text-align: center;
  font-weight: bolder;
}
.submenu {
  position: absolute;
  overflow: visible;
  display: inline-block;
  z-index: 5;
  left: 100%;
  top: 0;
  background-color: var(--color-primary-blue);
  color: black;
  font-weight: normal;
  font-size: 25px;
  padding: 10px;
}

.submenu li {
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: left;
  white-space: nowrap;
}

.text {
  color: #333333;
  font-size: 1.875rem;
  font: 200;
}
.link
{
  color: var(--color-primary-blue);
  text-decoration: none;
}
